@mixin button($color){
    padding: 1.4rem 4rem;
    border-radius: .7rem;
    color: $text-color-3;
    background: $color;
    border: none;
    cursor: pointer;
    transition: $transition;

    &:hover{
        background: lighten($color, 10%);
    }
}