//! fonts 
$font-1: 'Boogaloo', arial;
$font-2: arial;


//! colors 
$bg-color-1: #a8f8f8;
$bg-color-2: #e8b8e8;
$bg-color-3: #f8d8e8;
$bg-color-4: #ffffff;
$bg-color-5: #a8f8f8;
$bg-color-6: #a8f8f8;

$text-color-1: #283898;
$text-color-2: #e8c8f8;
$text-color-3: #FFF;
$text-color-4: #4f4d4e;

//! header
$nav-height: 6.5rem;

//! other 
$transition: .5s;